<div>
    <div class="page-header">
        <h3>New Order</h3>
    </div>
    <form class="form-horizontal" role="form" name="formAdd" ng-submit="addOrder()">
        <!--Validation Summary-->
        <div class="form-group">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="customerNumber">Customer Number</label>
            <div class="col-md-4">
                <input class="form-control" type="text" id="customerNumber" ng-model="order.CustomerNumber" ng-required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="orderDate">Order Date</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="orderDate" name="orderDate"
                           uib-datepicker-popup="{{format}}" ng-model="order.OrderDate" is-open="orderDatePicker.opened" datepicker-options="dateOptions" datepicker-append-to-body="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openOrderDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="deliveryDate">Delivery Date</label>
            <div class="col-md-4">
                <!--<input class=" form-control" type="text" id="deliveryDate" ng-model="order.DeliveryDate"/>-->
                <div class="input-group">
                    <input type="text" class="form-control" id="deliveryDate" name="deliveryDate"
                           uib-datepicker-popup="{{format}}" ng-model="order.DeliveryDate" is-open="deliveryDatePicker.opened" datepicker-options="dateOptions" datepicker-append-to-body="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDeliveryDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="totalAmount">Total Amount</label>
            <div class="col-md-4">
                <input class="form-control" type="text" id="totalAmount" ng-model="order.TotalPrice" ng-required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <!--<a href="#/addOrderPosition" class="btn btn-sm btn-primary">New Order Position</a>-->
                <button class="btn btn-sm btn-primary" ng-click="open()">New Order Position</button>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <input type="submit" value="Save Changes" class="btn btn-sm btn-danger" ng-disabled="formAdd.$invalid"/>
                    <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <div>
        <hr />
        <h3>Order Positions</h3>
    </div>
    <div>
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Position Number</th>
                    <th>Pieces</th>
                    <th>Text</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="op in order.orderPositions">
                    <td>{{op.PositionNumber}}</td>
                    <td>{{op.Pieces}}</td>
                    <td>{{op.Text}}</td>
                    <td>{{op.Price}}</td>
                    <td>{{op.Total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">New Order Position</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="addOrderPositionForm">
            <div class="form-group">
                <label class="col-md-4 control-label" for="PositionNumber">Position number</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="PositionNumber" ng-model="PositionNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Pieces">Pieces</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="Pieces" ng-model="Pieces" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Text">Text</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="Text" ng-model="Text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Price">Price</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="Price" ng-model="Price" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Total">Total</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="Total" ng-model="Total" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>