<div>
    <div class="page-header">
        <h3>Orders Management</h3>
    </div>
    <div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="input-group pull-right">
                <a href="/orders/add" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i></a>
                <input id="inputSearchMovies" type="search" ng-model="filterOrders" class="form-control shortInputSearch" placeholder="Filter, search movies..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Number</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Total Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders|filter:filterOrders">
                        <td>{{order.ID}}</td>
                        <td>{{order.CustomerNumber}}</td>
                        <td>{{order.OrderDate | date:'yyyy/MM/dd'}}</td>
                        <td>{{order.DeliveryDate | date:'yyyy/MM/dd'}}</td>
                        <td>{{order.TotalPrice | currency:"$":factionSize:2}}</td>
                        <td>
                            <div class="pull-right">
                                <a href="/orders/edit/{{order.ID}}" class="btn btn-default btn-xs">edit</a>
                                <a href="/orders/delete/{{order.ID}}" class="btn btn-danger btn-xs">delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <div ng-hide="(!pagesCount || pagesCount<2)">
                <ul class="pagination pagination-sm">
                    <li><a ng-hide="page == 0" ng-click="search(0)">First</a></li>
                    <li><a ng-hide="page == 0" ng-click="search(page-1)">Previous</a></li>
                    <li ng-repeat="n in range()" ng-class="{active: n == page}">
                        <a ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                        <span ng-if="n == page">{{n+1}}</span>
                    </li>
                    <li><a ng-hide="page == pagesCount - 1" ng-click="search(pagePlus(1))">Next</a></li>
                    <li><a ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">Last</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>