<div class="form">
    <div class="dx-fieldset">
        <h1>{{titleForm}}</h1>
        <div class="dx-field">
            <div class="dx-field-label">Customer Number</div>
            <div class="dx-field-value">
                <div id="txtCustomerName"
                     dx-text-box="{showClearButton: true, placeholder: 'Customer Number...', bindingOptions: { value: 'order.CustomerNumber' }}"
                     dx-validator="validate1"></div>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Order Date</div>
            <div class="dx-field-value">
                <div dx-date-box="{formatString: 'dd/MM/yyyy', placeholder: 'dd/MM/yyyy', 
                     disabled: true, bindingOptions: { value: 'order.OrderDate' }, tabIndex: -1 }"></div>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Delivery Date</div>
            <div class="dx-field-value">
                <div id="txtDeliveryDate"
                     dx-date-box="{showClearButton: true, invalidDateMessage: 'Value must be a date',
                     onValueChanged:deliveryDateChange,
                     formatString: 'dd/MM/yyyy', placeholder: 'dd/MM/yyyy', bindingOptions: { value: 'order.DeliveryDate', min: 'dateFuture' }}"
                     dx-validator="validate2"></div>
            </div>
        </div>
    </div>
    <div id="summary" dx-validation-summary="{ }"></div>
    <div class="dx-fieldset">
        <h2>Position</h2>
        <div class="dx-field">
            <div class="pn-control">
                <div id="btnAdd" dx-button="{icon:'add', type:'success', onClick:formBtnPosition}"></div>
            </div>
            <div style="height: 320px" id="gridPosition" dx-data-grid="{  searchPanel: { visible: true },
            bindingOptions: { dataSource: 'ListPositionOrderDto' },paging: { pageSize: 20 },
            filterRow: { visible: true, showOperationChooser: true },columns:positionColumn,
            pager: { showPageSizeSelector: false, allowedPageSizes: [10, 20, 30], showInfo: true }}"></div>
        </div>
    </div>
    <div class="dx-fieldset" style="text-align: right;">
        <div dx-button="{ text: 'Update', type: 'success', onClick: formBtnAddNewOption, bindingOptions:{disabled:'disabledBtnAdd'} }"></div>
        <div dx-button="{ text: 'Back to list', onClick: formBtnCancelOption }"></div>
    </div>
</div>
<div id="popupPosition" dx-popup="{maxWidth:'450px', onHidden: formPositionEventExit,maxHeight:'400px',visible:false,resizeEnabled:false,bindingOptions:{ title:'formTitlePopupPosition'}}">
    <div class="form">
        <div id="formPosition" class="dx-fieldset" dx-validation-group="{}" style="margin: 0px;">
            <div> <!--dx-scroll-view-->
                <div class="dx-field">
                    <div class="dx-field-label">Text</div>
                    <div class="dx-field-value">
                        <div id="test" dx-text-box="{showClearButton:true, bindingOptions:{value:'objectPosition.Text'}}"
                             dx-validator="{validationRules:[{type:'required', message:'Text not empty.', trim:true}]}"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Pieces</div>
                    <div class="dx-field-value"><div dx-text-box="{showClearButton:true, bindingOptions:{value:'objectPosition.Pieces'}}"></div></div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Number</div>
                    <div class="dx-field-value">
                        <div dx-number-box="{showClearButton:true, showSpinButtons: true, bindingOptions:{value:'objectPosition.PositionNumber'}, min:1}"
                             dx-validator="{validationRules:[{type:'required', message:'Number >=1.'}]}"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Price</div>
                    <div class="dx-field-value">
                        <div dx-number-box="{showClearButton:true, showSpinButtons: true, bindingOptions:{value:'objectPosition.Price'}, min:0}"
                             dx-validator="{validationRules:[{type:'required', message:'Price >= 0.'}]}"></div>
                    </div>
                </div>
                <div dx-validation-summary="{ }"></div>
            </div>
            <div class="p-control" style="padding-right: 0;position: absolute;bottom: 10px;right: 20px;">
                <div dx-button="{ text: 'Update', type: 'success', onClick: formPositionEventUpdate}"></div>
                <div dx-button="{ text: 'Close', onClick: formPositionEventClose}" style="margin-right: 0;"></div>
            </div>
        </div>
    </div>
</div> 
<div dx-load-panel="{message:'Loading...', bindingOptions:{visible:'showLoadPanel'},delay:100}"></div>