<h1 class="page-header">Orders Management</h1>
<div class="p-order" ng-show="showAfterLoad">
    <div class="clear-1">
        <div id="txtSearch" dx-text-box="{mode:'search',placeholder:'Search...',onValueChanged:eventSearchFullOrder,onEnterKey:eventEnterSearchFullOrder}" style="float:right;"></div>
        <div dx-button="{type:'success', icon:'add',onClick:btnAddNewOrder}" style="float:right;margin-right:10px;"></div>
    </div>
    <div id="gridOrder" class="grid-order" dx-data-grid="{paging: { pageSize: 10 },
            pager: { showPageSizeSelector: true, allowedPageSizes: [10,20, 30, 40], showInfo: true },
            dataSource:dataSource,columns:orderColumns,
            filterRow: { visible: true, showOperationChooser: true },
            masterDetail:masterDetail,
            onRowClick: collapseListOrder,
            remoteOperations:{grouping: false,filtering: false,sorting: true,paging: true}}"></div>
</div>
<div dx-load-panel="{message:'Loading...', bindingOptions:{visible:'showLoadPanel'},delay:100}"></div>