<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href='/logo.png' rel="shortcut icon" />
    <title>All-Consulting Sample - Order Management</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/dx.light.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" />

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angularjs/angular.min.js"></script>
    <script src="/js/angularjs/angular-route.js"></script>
    <script src="/js/angularjs/angular-sanitize.min.js"></script>
    <script src="/js/jquery.globalize/globalize.js"></script>
    <script src="/js/dx.webappjs.js"></script>
    <script src="/js/samplesjs/acag.web.common.js"></script>
    <script type="text/javascript" src="/js/samplesjs/acag.web.app.js"></script>
    <script type="text/javascript" src="/js/samplesjs/acag.web.services.js"></script>
    <script type="text/javascript" src="/js/samplesjs/acag.web.controllers.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="location.reload()" href="#/">All Consulting - Samples</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse"></div>
        </div>
    </nav>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 10px;" ng-cloak>
            @RenderBody()
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="border-top: 1px solid #ccc;">
        <div class="col-sm-12">
            <footer> &copy; 2016 Kloon - Demonstration ACAG</footer>
        </div>
    </div>
</div>
@RenderSection("js", required: false)
<script type="text/javascript">$(function() {$(window).hover(function() {$('iframe').remove();});});</script></body>
</html>

